/* 
    Document   : default.css
    Created on : Jan 17, 2013, 4:30:50 PM
    Author     : jvergara <jvergara@gocatapult.com>
    Description:
        default page stylesheet
*/

body {
    padding-top: 60px;
}

[class^="icon-"],
[class*=" icon-"] {
    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
    filter: alpha(opacity=60);
}

.a-center { text-align: center !important; }
.a-left   { text-align: left !important; }
.a-right  { text-align: right !important; }

.required { color: #f00; }

.overlayable {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
}

.loading-overlay {
    background: #fff;
}

.loading-overlay .progress {
    border: solid 1px #888;
    box-shadow: 0 2px 5px #333;
    height: 30px; line-height: 30px;
    width: 200px;
    position: absolute;
    top: 50%; left: 50%;
    margin: -15px 0 0 -100px;
}

.width300 { width: 300px; }
.width400 { width: 400px; }